body {
  font-family: sans-serif;
  padding: 40px;
  padding-left: 400px;
  position: static;
}
#weatherApp {
  box-sizing: border-color;
  width: 510px;
  height: 225px;
  padding: 15px auto;
  margin: 0px 20px 0px 20px;
}
.form-control {
  height: 38px;
  width: 224px;
  border-color: gray;
}
#search-button {
  position: relative;
  left: 255px;
  top: -37px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}
#current {
  position: relative;
  right: -380px;
  top: -91px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  background-color: #218838;
}
li {
  list-style-type: none;
  color: grey;
}
.country {
  font-size: 24px;
  position: relative;
  top: -100px;
}
.day,
.weather {
  position: relative;
  top: -115px;
}
.weather {
  position: relative;
  top: -115px;
}
.temp {
  color: black;
  position: relative;
  font-weight: 900px;
  font-size: 64px;
  top: -130px;
  left: 0px;
}
.cf {
  color: black;
  font-size: 25px;
  position: relative;
  top: -200px;
  left: 75px;
}
sup {
  color: black;
  text-decoration-color: #ffffff;
}

#day-input,
#time-input,
#hour-input,
#minutes-input,
#colon,
#line {
  color: grey;
  text-decoration: none;
}
.humidity {
  position: relative;
  top: -260px;
  left: 250px;
}
.wind {
  position: relative;
  top: -265px;
  left: 250px;
}
